.contactFormContainer {
    width: 80%;
    border: #D3C0D2 solid 3px;
    border-radius: 2%;
    z-index: 2;
    margin-top: 15%;
    text-align: center;
    margin:5% auto 5% auto;
    padding: 5%;
    fill-opacity: .4;
}

.contactBackground {
    background-image: url('../../images/fallMums.png');
    filter: blur(2px);
    -webkit-filter: blur(2px);
    opacity: .8;
    width: 100%;
}